* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background: url(assets/maxresdefault.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.right {
  float: right;
}
#profile {
  width: 30%;
  height: 100vh;
  text-align: center;
  background-color: azure;
  opacity: 70%;
  border-left: 5px solid aqua;
}
#description {
  width: 70%;
  height: 100vh;
  text-align: center;
  color:aqua;
  padding: 15px 15px;
  letter-spacing: .005em;
  line-height: 1,67;
  text-shadow: 1px 1px black;
}
p::first-letter {
  font-size: 2em;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 10px;
}
.kiskep {
  opacity: 90%;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.kiskep:hover {
  transform: scale(2.2);
}
#picture {
  margin: 15px auto;
  height: 18em;
  width: auto;
  filter: brightness(80%)
}
#picture:hover {
  filter: brightness(100%)
}
#name {
  margin: 15px auto;
}
#name:hover {
  transform: rotateY(100deg);
}
.fa:hover {
  transform: scale(1.7)
}
#cim {
  height: 6em;
  width: auto;
}